body {
    background-color: #000000;
    color: white;
}

.form-container
{
    display:flex;
    justify-content:center;
}

.login-form{
    height: 300px;
    background-color: #090A0C;
    width: 400px;
    border-radius: 10px;
    overflow: scroll;
    justify-content: start;
    padding: 20px;  
}


input::placeholder {
    color: white;
}

 input:active,input:active {
    border-bottom: 2px solid #F4B94A;
  
}




input {
    color: white;
    background-color: transparent;
    border: none;
    padding-left: 20px;
    margin-top: 40px;
    border-bottom: 1px solid #F4B94A;
    width: 95%;
    margin-left: 10px;
    outline: none;
}


input::placeholder {
    color: white;
}

input:active, input:hover, input:focus {
    border-bottom: 2px solid #F4B94A;
}


input::file-selector-button {
    background-color: transparent;
    color: white;
    border: 1px solid #F4B94A;
    height: 25px;
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    color: white;
    background-color: #F4B94A;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
}

::-webkit-scrollbar {
    width: 1px;
    height: 2px;
}

::-webkit-scrollbar-thumb {
    background: #F4B94A;
    border-radius: 10px;
}


.message {
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
